@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
/* импорт  шрифта по  ссылке */
body {
  /* правило к тегу боди */
  background-color: rgb(255, 255, 255);
  /* цыет к фону */
  color: #0f141e;
  font-size: 16px;

  /* размер шрифта в боди
} */
  font-weight: normal;
  /* жирность  шрифта */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    шрифт */
  font-family: "Roboto", sans-serif;
  /* шрифт который загрузился по ссылке */
  /* font: normal 16px "Roboto", sans-serif;
  объеденить все настройки шрифта в одной команде */
}
.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 2px 3px 20px 0px rgb(0 0 0);
  /* атрибуты класса аватар Бокс шадов - тень вокруг картинки */
}
.info p {
  /* присвоили блоку инфо (div) ПАРАГРАФАМ "Р" стили ниже */
  color: #86898f;
  margin: 0;
  /* отступ */
  font-style: italic;
  /* нкалонный стиль для блока ИНФО */
  font-weight: 900;
  /* толщина текста */
  text-transform: capitalize;
  /* каждое слово с большой буквы */
  letter-spacing: 5px;
  /* расстояние между буквами */
}
.container {
  /* Div для всей страницы (блок) */
  max-width: 750px;
  /* адаптвная ширина (мах 750 пикселей) */
  margin: auto;
  /* контент  по середине страницы */
}
.social {
  background-color: bisque;
  /* padding: 15px; */
  /* отступ от блока */
  padding: 15px 40px;
  /* отступ с разными растояниями по краям и сверху/снизу */
  border: 5px solid red;
  /* рамка вокрук падинга солид - прямая линия */
  margin: 20px;
  /* отступ от рамки */
  border-bottom-style: solid;
  /* оформление низа рамки */
  border-right-color: blue;
}
/* .box-model > div {
  применяем стили к ДИВами которы дочерние (ниже по иерархии) (кнопка >)
  background: #0f141e;
  height: 200px;
  размерность
  width: 25%;
  ширина
  float: left;
  распологать вертиикально блоки
  border: 4px solid red;
  box-sizing: border-box;
  оптимизирует размер блоков по ширине страницы
} */
